.app {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.game {
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin: 80px auto;
}

.game img {
  width: 70px;
  height: 70px;
}

.score-board {
  display: flex;
  margin: 0 auto;
}



